@page "/"

<h1>Using Your Own UI Component Library</h1>

This is a demo on how to use your own UI component library and take advantage of the CSS isolation in the .Net 5.0.

<br/>
<br />
<br />
<br />
<h2>Click on Fetch Data to see the componet</h2>

<SurveyPrompt Title="How is Blazor working for you?" />
